<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    {% block pagename %}
    <center><h1> Добро пожаловать, в раздел:</h1></center>
    {% endblock %}
</head>
<body>

<nav>
{% block menu %}

    <ul>
        <li><h2><a href="{{main_page}}">Главная</a></h2></li>
        <li><h2><a href="{{shop}}">Магазин</a></h2></li>
        <li><h2><a href="{{recycle}}">Корзина</a></h2></li>
        <li><h2><a href="{% url 'task1:news_list' %}">Новости</a></h2></li>
    </ul>

{% endblock %}
</nav>
<main>
    <div>
        {% block content %}
             </br>
            <b><p align="center">2025 by Andrey </p></b>
        {% endblock %}
    </div>
</main>
</body>
</html>