{% extends "menu.html" %}
{% block pagename %}
    {{ block.super }}
    <center><h1>{{ title }}</h1></center>
{% endblock %}
{% block content %}
    {% if games %}
    <ul>
        {% for game in games %}
        <li>
            <b>{{ game.title|upper }}</b> | {{ game.description }} | <b>Стоимость:</b> {{ game.cost }}
            <button>Купить</button>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Нет доступных игр.</p>
    {% endif %}

    {{ block.super }}
{% endblock %}
